<div>
    <h2 id="page-heading">
        <span>Rf Branches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rf-branch" [routerLink]="['/rf-branch/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Rf Branch
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="rfBranches?.length === 0">
        <span>No rfBranches found</span>
    </div>
    <div class="table-responsive" *ngIf="rfBranches?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Branch Name</span></th>
            <th scope="col" ><span>Branch Address</span></th>
            <th scope="col" ><span>Branch City</span></th>
            <th scope="col" ><span>Branch Phone</span></th>
            <th scope="col" ><span>Registered By</span></th>
            <th scope="col" ><span>Registered Date</span></th>
            <th scope="col" ><span>Approved By</span></th>
            <th scope="col" ><span>Approved Date</span></th>
            <th scope="col" ><span>Active</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rfBranch of rfBranches ;trackBy: trackId">
                <td><a [routerLink]="['/rf-branch', rfBranch.id, 'view' ]">{{rfBranch.id}}</a></td>
                <td>{{rfBranch.branchName}}</td>
                <td>{{rfBranch.branchAddress}}</td>
                <td>{{rfBranch.branchCity}}</td>
                <td>{{rfBranch.branchPhone}}</td>
                <td>{{rfBranch.registeredBy}}</td>
                <td>{{rfBranch.registeredDate | date:'medium'}}</td>
                <td>{{rfBranch.approvedBy}}</td>
                <td>{{rfBranch.approvedDate | date:'medium'}}</td>
                <td>{{rfBranch.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/rf-branch', rfBranch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rf-branch', rfBranch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rf-branch', { outlets: { popup: rfBranch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
