<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="storeTrx">
            <h2><span>Store Trx</span> {{storeTrx.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Trx Amount</span></dt>
                <dd>
                    <span>{{storeTrx.trxAmount}}</span>
                </dd>
                <dt><span>Trx Method</span></dt>
                <dd>
                    <span>{{storeTrx.trxMethod}}</span>
                </dd>
                <dt><span>Trx By</span></dt>
                <dd>
                    <span>{{storeTrx.trxBy}}</span>
                </dd>
                <dt><span>Trx Date</span></dt>
                <dd>
                    <span>{{storeTrx.trxDate}}</span>
                </dd>
                <dt><span>Rf Branch</span></dt>
                <dd>
                    <div *ngIf="storeTrx.rfBranch">
                        <a [routerLink]="['/rf-branch', storeTrx.rfBranch?.id, 'view']">{{storeTrx.rfBranch?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/store-trx', storeTrx.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
